<%- include("./commun_part/head.ejs") -%>
  <center><h1><%= title %></h1></center>
  <h2><%- (message)? message : "";-%></h2>
  <p>Welcome to <%= title %></p>
  <a href="/download">Download CDA</a>
<%- include("./commun_part/foot.ejs") -%>
